{% extends 'twitter_app/base.html' %} 

{% block content %}   
    
        <form action="/" method="post">
   		{% csrf_token %}
        <input type="text" name="screen_name" placeholder='Twitter Handle'>
        <input type="number" name="count" placeholder='Number of tweets to retrieve'>
        <input type="submit" value="Get Tweets">
        </form>

        {% if tweets %}
            {% for tweet in tweets %}
            <div class="post">
                <p>@{{handle}} tweeted: {{ tweet }}</p>
            </div>
            {% endfor %}
        {% endif %}
{% endblock %}
